html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;
  transition: all 0250ms linear;
}

.polaroid:nth-child(1) {
  z-index: 1;
  transform: translate(192px, 100px) rotate(-12deg);
}

.polaroid:hover:nth-child(1) {
  z-index: 100;
  transform: rotate(0) translate(192px, 100px);
  box-shadow: 1px 4px 12px rgba(0, 0, 0, .8);
}

.polaroid:nth-child(2) {
  z-index: 3;
  transform: translate(288px, 150px) rotate(5deg);
}

.polaroid:hover:nth-child(2) {
  z-index: 100;
  transform: rotate(0deg) translate(288px, 150px);
  box-shadow: 1px 4px 12px rgba(0, 0, 0, .8);
}

.polaroid:nth-child(3) {
  z-index: 2;
  transform: translate(384px, 100px) rotate(33deg);
}

.polaroid:hover:nth-child(3) {
  z-index: 100;
  transform: rotate(0deg) translate(384px, 100px);
  box-shadow: 1px 4px 12px rgba(0, 0, 0, .8);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
